.frame-child43 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1550px;
  height: 864px;
  display: none;
}
.welcome6 {
  position: relative;
}
.frame-parent174,
.welcome-wrapper4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.welcome-wrapper4 {
  padding: var(--padding-3xs);
}
.frame-parent174 {
  position: absolute;
  top: 40px;
  left: 154px;
  gap: var(--gap-70xl);
}
.frame-child44,
.frame-child45 {
  position: absolute;
  top: 93.5px;
  left: -2.5px;
  border-top: 5px solid var(--color-brown-100);
  box-sizing: border-box;
  width: 1562px;
  height: 5px;
}
.frame-child45 {
  border-top: 5px solid var(--maroon);
  width: 852px;
}
.first-name108,
.personal-details3 {
  position: relative;
  line-height: 177.02%;
}
.first-name108 {
  font-weight: 500;
}
.vector-icon195 {
  position: relative;
  width: 10px;
  height: 10px;
  display: none;
}
.first-name-parent106 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.instance-child98 {
  position: relative;
  background-color: var(--color-darkslateblue-300);
  border-bottom: 1px solid var(--borders);
  box-sizing: border-box;
  width: 290px;
  height: 56px;
}
.frame-parent176 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.vector-icon196 {
  position: absolute;
  height: 20.41%;
  width: 6.21%;
  top: 59.18%;
  right: 6.9%;
  bottom: 20.41%;
  left: 86.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent28 {
  position: absolute;
  height: 29.34%;
  width: 31.8%;
  top: 35.33%;
  right: 68.2%;
  bottom: 35.33%;
  left: 0;
}
.frame-parent178,
.frame-parent179 {
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent178 {
  left: 310px;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-parent179 {
  left: 622px;
}
.frame-parent179,
.frame-parent180,
.frame-parent181 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.frame-parent180 {
  position: absolute;
  top: 118px;
  left: 622px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent181 {
  top: 236px;
  left: 621px;
}
.frame-parent181,
.frame-parent182,
.vector-frame {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent182 {
  top: 236px;
  left: 311px;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.vector-frame {
  top: 0;
  left: 19px;
  flex-direction: row;
}
.vector-icon205 {
  position: absolute;
  height: 7.55%;
  width: 4.14%;
  top: 71.43%;
  right: 6.9%;
  bottom: 21.02%;
  left: 88.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.select5 {
  position: absolute;
  top: 56px;
  left: 10px;
  line-height: 177.02%;
}
.frame-parent183 {
  position: absolute;
  top: 236px;
  left: 0;
  width: 290px;
  height: 98px;
}
.frame-parent175 {
  position: relative;
  width: 912px;
  height: 334px;
}
.frame-parent186,
.frame-parent188,
.frame-parent189,
.personal-details2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.personal-details2 {
  border: 1px solid var(--color-gainsboro-200);
  padding: var(--padding-xl);
}
.frame-parent186,
.frame-parent188,
.frame-parent189 {
  position: absolute;
  top: 118px;
  left: 0;
  gap: var(--gap-3xs);
}
.frame-parent188,
.frame-parent189 {
  left: 310px;
}
.frame-parent189 {
  top: 0;
  left: 620px;
}
.instance-parent29 {
  position: relative;
  width: 910px;
  height: 216px;
}
.contact-details-container,
.frame-parent190 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent190 {
  position: absolute;
  top: 0;
  left: 1px;
  gap: var(--gap-3xs);
}
.frame-parent191,
.frame-parent192,
.frame-parent193,
.frame-parent194,
.frame-parent195,
.frame-parent196,
.frame-parent197,
.frame-parent198 {
  position: absolute;
  top: 118px;
  left: 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent192,
.frame-parent193,
.frame-parent194,
.frame-parent195,
.frame-parent196,
.frame-parent197,
.frame-parent198 {
  top: 236px;
  left: 0;
}
.frame-parent193,
.frame-parent194,
.frame-parent195,
.frame-parent196,
.frame-parent197,
.frame-parent198 {
  top: 0;
  left: 311px;
}
.frame-parent194,
.frame-parent195,
.frame-parent196,
.frame-parent197,
.frame-parent198 {
  top: 118px;
}
.frame-parent195,
.frame-parent196,
.frame-parent197,
.frame-parent198 {
  top: 236px;
  left: 310px;
}
.frame-parent196,
.frame-parent197,
.frame-parent198 {
  top: 118px;
  left: 621px;
}
.frame-parent197,
.frame-parent198 {
  top: 236px;
  left: 620px;
}
.frame-parent198 {
  top: 0;
  left: 621px;
}
.instance-parent30 {
  position: relative;
  width: 911px;
  height: 334px;
}
.frame-parent200,
.instance-parent31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.instance-parent31 {
  flex-direction: row;
  gap: var(--gap-2xl);
}
.vector-icon223 {
  position: relative;
  width: 20px;
  height: 20px;
}
.apply-now27,
.frame-parent199 {
  display: flex;
  align-items: center;
}
.apply-now27 {
  border-radius: var(--br-3xs);
  background-color: var(--color-brown-100);
  height: 46px;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--desktop-link-x-small-size);
  color: var(--maroon);
}
.frame-parent199 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.learning-mode4 {
  position: relative;
  line-height: 177.02%;
  font-weight: 600;
}
.frame-parent204,
.frame-parent205,
.vector-parent29 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent204,
.frame-parent205 {
  align-items: flex-start;
  gap: var(--gap-xl);
}
.frame-parent204 {
  position: absolute;
  top: 118px;
  left: 307px;
  flex-direction: column;
  gap: var(--gap-15xl);
}
.vector-parent31 {
  position: absolute;
  height: 45.37%;
  width: 31.83%;
  top: 54.63%;
  right: 68.17%;
  bottom: 0;
  left: 0;
}
.instance-parent32,
.instance-parent33,
.instance-parent34 {
  position: absolute;
  top: 0;
  left: 0;
  width: 290px;
  height: 98px;
}
.instance-parent33,
.instance-parent34 {
  left: 310px;
}
.instance-parent34 {
  left: 621px;
}
.frame-parent203 {
  position: relative;
  width: 911px;
  height: 216px;
}
.instance-parent35 {
  position: relative;
  width: 290px;
  height: 98px;
}
.personal-details-container {
  position: absolute;
  top: 247px;
  left: 516px;
  width: 953px;
  height: 498px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-lg);
}
.icround-log-in-icon16 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.apply-now28 {
  top: 10px;
  left: 1270px;
  border-radius: var(--br-3xs);
  background-color: var(--maroon);
  width: 197px;
  height: 46px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.apply-now28,
.apply-now29,
.buttons-child3 {
  position: absolute;
  box-sizing: border-box;
}
.apply-now29 {
  top: 10px;
  left: 1053px;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown-100);
  width: 197px;
  height: 46px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  color: var(--maroon);
}
.buttons-child3 {
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  width: 1471px;
  height: 1px;
}
.need-help8 {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: var(--font-size-lg);
  line-height: 177.02%;
  color: var(--borders);
}
.buttons5 {
  position: absolute;
  top: 748px;
  left: 40px;
  width: 1470px;
  height: 56px;
  color: var(--white);
}
.rectangle-parent3 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 864px;
  overflow: hidden;
  text-align: left;
  font-size: var(--desktop-link-x-small-size);
  color: var(--blue);
  font-family: var(--desktop-link-x-small);
}
