.campus-events1 {
  position: relative;
  font-weight: 600;
}
.news-section-inner {
  position: relative;
  border-top: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 1286px;
  height: 1px;
}
.more2 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--borders);
}
.news-section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.mask-group-icon11 {
  position: relative;
  width: 1092px;
  height: 632px;
  object-fit: cover;
  z-index: 0;
}
.registrars-office2 {
  position: relative;
  font-weight: 600;
  display: none;
}
.from-to-date-child13 {
  display: none;
}
.from-to-date-child13,
.from-to-date-child14 {
  position: relative;
  border-radius: 50%;
  background-color: var(--borders);
  width: 5px;
  height: 5px;
}
.from-to-date8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.the-nairobi-pentecostal2 {
  position: relative;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--blue);
  text-align: justify;
  display: inline-block;
  width: 1092px;
}
.from-to-date-container {
  background-color: var(--color-darkslateblue-200);
  flex-direction: column;
  padding: var(--padding-xl) 0;
  gap: var(--gap-xl);
  z-index: 1;
}
.from-to-date-container,
.mask-group-parent6,
.upcoming-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.upcoming-container {
  margin: 0 !important;
  position: absolute;
  top: 20px;
  left: 852px;
  border-radius: var(--br-41xl);
  background-color: var(--white);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-21xl);
  z-index: 2;
  font-size: var(--font-size-9xl);
  color: var(--maroon);
}
.mask-group-parent6 {
  flex-direction: column;
  position: relative;
}
.default-news1,
.frame-parent226,
.frame-parent227 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent227 {
  height: 554px;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-lg);
}
.default-news1,
.frame-parent226 {
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--font-size-xl);
  color: var(--borders);
}
.default-news1 {
  position: absolute;
  top: 2087px;
  left: 40px;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--blue);
  font-family: var(--desktop-link-x-small);
}
