.group-child24,
.pamphlet-1-icon5 {
  position: absolute;
  top: 0;
  height: 124px;
  object-fit: cover;
}
.group-child24 {
  left: -11px;
  width: 166px;
  display: none;
}
.pamphlet-1-icon5 {
  left: 0;
  width: 144.27px;
}
.rectangle-parent6 {
  position: relative;
  width: 144.27px;
  height: 124px;
}
.students-manualhandbook {
  position: relative;
  line-height: 177.02%;
  font-weight: 600;
}
.this-contains-all15 {
  position: relative;
  line-height: 177.02%;
  display: inline-block;
  width: 372px;
  flex-shrink: 0;
}
.this-contains-all-information-wrapper13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--desktop-link-x-small-size);
}
.students-manualhandbook-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.open-in-browser15 {
  position: relative;
  line-height: 177.02%;
}
.vector-icon290 {
  position: relative;
  width: 16px;
  height: 16px;
}
.download1 {
  border-radius: var(--br-9xs);
  background-color: var(--color-darkslateblue-200);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--blue);
}
.open-in-browser-parent13 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  gap: var(--gap-xl);
  font-size: var(--desktop-link-x-small-size);
  color: var(--color-gray-300);
}
.frame-parent244,
.group-parent17,
.open-in-browser-parent13 {
  display: flex;
  align-items: flex-start;
}
.frame-parent244 {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-3xs);
  justify-content: space-between;
}
.group-parent17 {
  position: absolute;
  top: 2746px;
  left: 596px;
  background-color: var(--white);
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--desktop-link-small-size);
  color: var(--blue);
  font-family: var(--desktop-link-x-small);
}
