.see-registration-requirements {
  position: relative;
  font-weight: 600;
}
.see-registration-requirements-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.view-the-main {
  position: relative;
  font-size: var(--desktop-link-x-small-size);
  display: inline-block;
  width: 435px;
}
.frame-parent242 {
  position: absolute;
  top: 0;
  left: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.union-icon7 {
  position: absolute;
  top: 29px;
  left: 0;
  width: 24px;
  height: 5px;
}
.frame-parent241 {
  position: relative;
  width: 479px;
  height: 85px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--desktop-link-x-small);
}
