.vector-icon295 {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.you-have-successfully {
  position: relative;
  display: inline-block;
  width: 461px;
  flex-shrink: 0;
}
.vector-icon296 {
  position: relative;
  width: 20px;
  height: 20px;
}
.page-title {
  position: absolute;
  top: 136px;
  left: 40px;
  width: 1470px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-465xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--blue);
  font-family: var(--desktop-link-x-small);
}
